html {
  min-height: 100%;
}

body {
  min-height: 100%;
}

.styles {
  height: 100vh;
  background-repeat: "no-repeat";
  background-size: "cover";
  background-position: "center";
}

.jumbotron {
  opacity: 1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
