html {
  min-height: 100%;
}

body {
  min-height: 100%;
  /* backdrop-filter: opacity(100%); */
  /* background-repeat: "no-repeat";
  background-size: "cover";
  background-position: "center";
  background-image: url(./assets/bg2.jpeg); */
}

.styles {
  height: 100vh;
  background-repeat: "no-repeat";
  background-size: "cover";
  background-position: "center";
  /* background-image: url(./assets/bg5.jpeg); */
}

.jumbotron {
  /* height: 100vh; */
  opacity: 1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
